<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="id" class="control-label"></label>
            <input ng-model="useredit.id" disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">First Name</label>
            <input ng-model="useredit.firstName"  disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">Last Name</label>
            <input ng-model="useredit.lastName"  disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">Email</label>
            <input ng-model="useredit.email"  disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">Passport Num</label>
            <input ng-model="useredit.passportNumber" type="text"  disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">Created At</label>
            <input ng-model="useredit.createdAt" disabled />
        </div>
        <div class="form-group">
            <label for="customerName" class="control-label">Status</label>
            <input ng-model="useredit.status" type="text"  disabled />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-block btn-danger" ng-click="UserDelete()" />
        </div>
        <div class="form-group">
            <a href="#!/book">Go back</a>
        </div>
    </div>
</div>